.header{
    height: 50px;
    background-color: #a2d4ff;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    position:absolute;
    right: 0;
    left: 0;
    z-index: 1;
}

.header > a{
    margin-right: 30px;
    font-size: large;
    color: black;
    text-decoration: none;
}

.header > a:hover{
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

@media print {
    header.header {
      display: none;
    }
}