.rotation
{
    animation: rotation 5s infinite linear;
    width: calc(100vw / 3) * 10%;
    height: calc(100vw / 3) * 10%;
}
@keyframes rotation {
    100% { transform: rotate(360deg); }
}

.rotationBackwards
{
    animation: rotationBackwards 4s infinite linear;
    width: calc(100vw / 3) * 10%;
    height: calc(100vw / 3) * 10%;
}
@keyframes rotationBackwards {
    100% { transform: rotate(-360deg); }
}

.scale
{
    filter: blur(2.5px);
    -webkit-filter: blur(2.5px);
    transition: transform .2s, filter 2s;
}

.scale:hover
{
    transform: scale(2);
    filter: blur(0);
    -webkit-filter: blur(0);
}

.backgroundContainer
{
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* min-width: 100vw;
    min-height: 100vh; */
    /* overflow: auto; */
}

.column
{
    width: calc(100vw / 3);
    height: 100%;
    /* background-color: blue; */
}

img
{
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}