
.firstRotation
{
    /* transform: rotate(15deg); */
    width: 64px;
    height: 64px;
}

.secondRotation
{
    /* transform: rotate(-15deg); */
    width: 64px;
    height: 64px;
}

.thirdRotation
{
    transform: rotate(35deg);
    width: 64px;
    height: 64px;
}

.forthRotation
{
    transform: rotate(-35deg);
    width: 64px;
    height: 64px;
}

.firstPosition
{
    position: absolute;
    top: 12em;
    left: 13em;
}

.secondPosition
{
    position: absolute;
    top: 8em;
    right: 38em;
}

.thirdPosition
{
    position: absolute;
    top: 28em;
    right: 15em;
}

.forthPosition
{
    position: absolute;
    bottom: 15em;
    left: 23em;
}

.fifthPosition
{
    position: absolute;
    bottom: 26em;
    left: 46em;
}

.sixthPosition
{
    position: absolute;
    bottom: 16em;
    right: 46em;
}

.rotation
{
    animation: rotation 5s infinite linear;
    width: 5em;
    height: 5em;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .rotationBackwards
{
    animation: rotationBackwards 4s infinite linear;
    width: 5em;
    height: 5em;
}

@keyframes rotationBackwards {
    from {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

.scale
{
    transition: transform .2s;
}

.scale:hover
{
    transform: scale(2);
}

.vl
{
    /* position: absolute; */
    /* margin-left: 30em; */
    border-left: 1em solid #a2d4ff;
    margin-left: -5em;
    /* height: 30em; */
}

.ball
{
    position: absolute;
    margin-left: 28em;
    height: 5em;
    width: 5em;
    background-color: #a2d4ff;
    border-radius: 50%;
    display: inline-block;
}