.rotation
{
    animation: rotation 5s infinite linear;
    width: calc(100vw / 3) * 10%;
    height: calc(100vw / 3) * 10%;
}
@keyframes rotation {
    100% { transform: rotate(360deg); }
}

.rotationBackwards
{
    animation: rotationBackwards 4s infinite linear;
    width: calc(100vw / 3) * 10%;
    height: calc(100vw / 3) * 10%;
}
@keyframes rotationBackwards {
    100% { transform: rotate(-360deg); }
}

.scale
{
    filter: blur(2.5px);
    -webkit-filter: blur(2.5px);
    transition: transform .2s, filter 2s;
}

.scale:hover
{
    transform: scale(2);
    filter: blur(0);
    -webkit-filter: blur(0);
}

.vl
{
    /* position: absolute; */
    /* margin-left: 30em; */
    border-left: 1em solid #a2d4ff;
    margin-left: -5em;
    margin-bottom: 0;
    /* height: 30em; */
}

.ball
{
    position: absolute;
    margin-left: -7em;
    margin-top: -1em;
    height: 5em;
    width: 5em;
    background-color: #a2d4ff;
    border-radius: 50%;
    display: inline-block;
}

.backgroundContainer
{
    position: absolute;
    /* z-index: -1; */
    display: flex;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    overflow: auto;
}

.column
{
    width: calc(100vw / 3);
    height: 100%;
    /* background-color: blue; */
}

.section
{
    /* overflow-y: scroll; */
    height: calc(100vh / 3);
    /* background: green; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

img
{
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}