.aboutMe
{
    font-weight: normal;
    font-size: 1.35em;
    margin: auto;
    width: 65%;
    padding: 3em;
    border-radius: 3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media only screen and (hover: none) and (pointer: coarse){

    html {
        .aboutMe {
            font-size: 1em;
        }
    }
}

/* 
.blue
{
    color: #006eff;
}

.alignRight
{
    text-align: right;
}

strong
{
    font-weight: bolder;
} */

/* img
{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
} */