.aboutMe
{
    font-weight: normal;
    font-size: 1.35em;
    margin: auto;
    width: 50em;
}

/* 
.blue
{
    color: #006eff;
}

.alignRight
{
    text-align: right;
}

strong
{
    font-weight: bolder;
} */

/* img
{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
} */